<!DOCTYPE HTML>
<html>


<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <td>
                <ul>
                    <li>007885</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>AD</th>
            <td>
                <ul>
                    <li>11/10/1990</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>DD</th>
            <td>
                <ul>
                    <li>2/17/1990</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>GENDER</th>
            <td>
                <ul>
                    <li>female</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>AGE</th>
            <td>
                <ul>
                    <li>58 year old</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>DIAGNOSIS</th>
            <td>
                <ul>
                    <li>gastrointestinal bleed</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>MEDICATIONS</th>
            <td>
                <ul>
                    <li>pepcid</li>
                    <li>metoprolol</li>
                    <li>nitroglycerin</li>
                </ul>
            </td>
        </tr>
    </table>
</body>

</html>